:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  font-size: 1.5rem;
}
